.footer {
    background: linear-gradient(rgba(0, 0, 0, 0.918), rgba(0, 0, 0, 0.877)), url("https://img.freepik.com/free-photo/child-having-fun-during-playtime_23-2149382748.jpg?t=st=1651318372~exp=1651318972~hmac=2126282325750afc794688e3f0b482bd8f23a2b3e7d8bc1f446c3c6565e49bb6&w=996");
    background-size: cover;
    text-align: center;
}
.first {
    margin-top: 40px;
    margin-bottom: 50px;
    color: rgb(206, 206, 206);
    font-family: 'Poppins', sans-serif;
    width: 100%;
    overflow: hidden;
}
.first h5{
   color: #fff;
   margin: 20px 0;
}

.first h4 {
    font-size: 20px;
    letter-spacing: 3px;
    position: relative;
    margin-bottom: 20px;
    font-size: 1.6em;
    color: #fff;
    padding-bottom: 0.5em;
}

.first h4::after {
    content: '';
    background: tomato;
    width: 20%;
    height: 2px;
    position: absolute;
    bottom: 0;
    left: 40%;
}

.first p {
    font-size: 14px;
}

.second2 {
    margin-top: 30px;
    margin-bottom: 40px;
    color: rgb(206, 206, 206);
    font-family: 'Poppins', sans-serif;
    text-align: center;
}
.link:hover{
    color: tomato;
    cursor: pointer;
}
.link{
   font-size: 16px;
   text-decoration: none;
}
.fotter-icon{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px;
}
.fotter-icon p{
   color: rgb(155, 152, 152);
   margin: 0;
   padding: 0;
   margin-bottom: 10px;
}
@media screen and (max-width:1000px) {
    .first {
        text-align: center;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .fotter-icon{
        display: block;
    }
    .first h4::after {
        left: 40%;
    }
}

.line {
    height: 2px;
    background-color: rgb(206, 206, 206);
    width: 100%;
    color: rgb(206, 206, 206);
    text-decoration: none;
}
.socialbtns .iconSocial {
	background-color: transparent;
	border-radius: 50%;
    list-style: none outside none;
    display: inline-block;
    margin: 0;
    padding: 10px;
}
.socialbtns .iconSocial {
    width: 20px;
    height: 20px;
    font-size: 22px;
	background-color: #fff;
	border: 0.5px solid black;
	border-radius: 50%;
    margin: 0 5px;
    transition: .2s;
}

.socialbtns .iconSocial:hover {
	background-color: #000;
	border: 1px solid #000;
}
